# Sentry
sentry_dsn = "your_sentry_dsn_here"
sentry_environment = "your_sentry_environment_here"

# Smtp
smtp_addr = "your_smtp_address_here" # Format: "smtp.self_host_or_provider.com:465"
smtp_auth = "your_smtp_auth_here" # Format: "username:password"